:root {
    --easein-pause-easeout: cubic-bezier(.57, .81, .39, .17);
    --primary-color: #09543D;
    --primary-logo-text: #F6C42B;
    --secondary-color: #FFA9E9;
    --primary-text-color: #FFFDF7;
}

@font-face {
    font-family: "Marvel";
    src: url(/styles/fonts/MarvelRegular-Dj83.ttf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica-Neue-Black, sans-serif;
    box-sizing: border-box;
    color: var(--primary-text-color)
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes landing-section {
    to {
        transform: scale(0.98);
        border-radius: 30px;
        background-color: var(--primary-color);
    }
}

@keyframes landing-header {
    from {
        top: -90;
    }

    to {
        transform: scale(0.98);
        margin-top: 25px;
    }
}

body {
    background-color: #FFFDF7;
}

main {
    overflow: hidden;
    height: 10000px;
    background-color: var(--primary-text-color);
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 9px 35px;
    animation: landing-header 0.5s ease-in-out 0.3s forwards;
    z-index: 5;
    background-color: var(--primary-color);
    height: 65px;
    border-radius: 20px;
}

header button {
    border: none;
    width: 120px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

header button:hover {
    color: var(--secondary-color);
    transition: 0.2s;
    transform: scale(1.07);
}


#first-section {
    background-color: var(--primary-color);
    animation: landing-section 0.5s ease-in-out 0.3s 1 forwards;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

#menu-button {
    position: absolute;
    top: -99px;
    font-size: 15px;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    animation: menu-button 0.8s ease-in-out forwards;
    box-shadow: 0 0 9px 1px gray;
}

#menu-button:hover {
    box-shadow: 0 0 6px 3px rgb(106, 106, 106);
    transition: 0.15s;
}

@keyframes background-score {
    from {
        width: 0%;
    }

    to {
        width: 97%;
    }
}

@keyframes color-change {
    to {
        color: #461E10;
    }
}

#get-started h1 {
    font-family: Marvel;
    font-size: min(7vw, 500px);
    font-weight: 900;
    width: 50vw;
    text-align: center;
    color: var(--primary-text-color);
    isolation: isolate;
    transform: scaleY(1.2);
    margin-top: 35px;
    margin-bottom: 10px;
    line-height: 90px;
}

#get-started h1 span {
    animation: color-change 0.8s ease-in 0.6s forwards;
    font-style: bold;
    font-family: inherit;
    position: relative;
}

#confidence-background {
    position: absolute;
    left:0;
    bottom: 15px;
    height: 90px;
    background-color: var(--secondary-color);
    z-index: -1;
    animation: background-score 0.7s cubic-bezier(.44, .18, .56, .32) 0.8s forwards;
}

#first-section #tag-line {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: var(--primary-text-color);
}

/* #inital-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-color);
    z-index: 99;
}

#initial-overlay p {
    position: absolute;
    font-size: 7vw;
    font-weight: 600;
    z-index: inherit;
} */

.text {
    color: var(--primary-text-color);
    font-size: 15px;
    text-align: center;
    width: 30%;
    margin-bottom: 80px;
}

#first-section .gestures {
    height: 330px;
    position: absolute;
}

#hands-ok {
    right: 0;
    top: 360px;
}

#finger-revert {
    left: 40px;
    top: 450px;
    transform: rotate(20deg);
}

#buttons {
    background-color: var(--primary-text-color);
    display: flex;
    padding: 13px;
    border-radius: 50px;
    gap: 10px;
    position: relative;
    isolation: isolate;
}

#buttons a {
    color: #461E10;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 30px;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

#buttons-background {
    position: absolute;
    background-color: var(--secondary-color);
    width: 150px;
    border-radius: 50px;
    height: 60px;
    z-index: -1;
}

#sell-button:hover~#buttons-background {
    right: 13px;
}