:root {
    --primary-color: #09543d;
    --primary-logo-text: #f6c42b;
    --secondary-color: #ffa9e9;
    --primary-text-color: #fffdf7;
}

@font-face {
    font-family: "Marvel";
    src: url(/styles/fonts/MarvelRegular-Dj83.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Granika";
    src: url(/styles/fonts/granika-font/Granika-MAm6r.otf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica-Neue-Black, sans-serif;
    box-sizing: border-box;
}

::selection {
    background-color: var(--secondary-color);
    color: #461e10;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes landing-section {
    to {
        transform: scale(0.98);
        border-radius: 30px;
        background-color: var(--primary-color);
    }
}

@keyframes landing-header {
    from {
        top: -90;
    }

    to {
        transform: scale(0.98);
        margin-top: 25px;
    }
}

body {
    background-color: #fffdf7;
}

main {
    overflow: hidden;
    height: 10000px;
    background-color: var(--primary-text-color);
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 9px 35px;
    animation: landing-header 0.5s ease-in-out 0.3s forwards;
    z-index: 5;
    background-color: var(--primary-color);
    height: 65px;
    border-radius: 20px;
}

header button {
    border: none;
    width: 120px;
    height: 45px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

header button:hover {
    color: var(--secondary-color);
    transition: 0.2s;
    transform: scale(1.07);
}

#first-section {
    background-color: var(--primary-color);
    animation: landing-section 0.5s ease-in-out 0.3s 1 forwards;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

#menu-button {
    position: absolute;
    top: -99px;
    font-size: 15px;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    animation: menu-button 0.8s ease-in-out forwards;
    box-shadow: 0 0 9px 1px gray;
}

#menu-button:hover {
    box-shadow: 0 0 6px 3px rgb(106, 106, 106);
    transition: 0.15s;
}

@keyframes background-score {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes color-change {
    to {
        color: #461e10;
    }
}

#get-started h1 {
    font-family: Granika;
    letter-spacing: 2px;
    font-size: min(7vw, 500px);
    font-weight: 900;
    width: 50vw;
    text-align: center;
    color: var(--primary-text-color);
    isolation: isolate;
    transform: scaleY(1.3);
    margin-top: 35px;
    margin-bottom: 25px;
    line-height: 90px;
}

#get-started h1 span {
    animation: color-change 0.8s ease-in 0.6s forwards;
    font-style: bold;
    font-family: inherit;
    position: relative;
}

#confidence-background {
    position: absolute;
    left: 0;
    bottom: 12px;
    height: 90px;
    background-color: var(--secondary-color);
    z-index: -1;
    animation: background-score 0.7s cubic-bezier(0.44, 0.18, 0.56, 0.32) 0.8s
        forwards;
}

#first-section #tag-line {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: var(--primary-text-color);
}

/* #inital-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-color);
    z-index: 99;
}

#initial-overlay p {
    position: absolute;
    font-size: 7vw;
    font-weight: 600;
    z-index: inherit;
} */

.text {
    color: var(--primary-text-color);
    font-size: 15px;
    text-align: center;
    width: 30%;
    margin-bottom: 60px;
}

#first-section .gestures {
    scale: 0;
    height: min(28vw, 330px);
    position: absolute;
    animation: gesture-images 0.5s ease-in-out 0.7s forwards;
}

@keyframes gesture-images {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

#hands-ok {
    right: 0;
    top: 220px;
}

#finger-revert {
    left: 40px;
    top: 450px;
    transform: rotate(20deg);
}

#buttons {
    background-color: var(--primary-text-color);
    display: flex;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    position: relative;
    isolation: isolate;
}

#buttons a {
    color: #461e10;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 30px;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

#buttons-background {
    position: absolute;
    background-color: var(--secondary-color);
    width: 150px;
    border-radius: 50px;
    height: 60px;
    z-index: -1;
    transition: transform 270ms;
}

#sell-button:hover ~ #buttons-background {
    transform: translateX(160px);
}

#second-section .text {
    margin: 0 auto;
    color: var(--primary-color);
}

#second-section div h1 {
    font-size: 20px;
}

#second-section .text p {
    font-family: Granika;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1px;
    transform: scaleY(1.2);
    line-height: 53px;
    margin: 10px 40px;
}

#second-section {
    color: var(--primary-color);
    margin-top: 50px;
}
@keyframes second-section-cards {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        top: 0;
    }
}
#second-section #container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

#second-section span {
    font-family: Granika;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1px;
    transform: scaleY(1.2);
    line-height: 53px;
    position: relative;
    isolation: isolate;
}

/* #spirit-background {
    animation: background-score 0.7s cubic-bezier(0.44, 0.18, 0.56, 0.32) 0.8s
        forwards;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.48);
    left: 0;
    height: 20px;
} */

#second-section #container .second-section-card {
    position: relative;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 250px;
    border-radius: 30px;
    gap: 30px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
    top: 100px;
    animation: second-section-cards 1s ease forwards;
    animation-timeline: view();
    animation-range: entry cover;
    opacity: 0;
}

#container h3 {
    font-size: 35px;
    text-align: left;
    width: 100%;
}
#container p {
    width: 80px;
}

#container p {
    width: 100%;
}

#container img {
    height: 100%;
    margin: 0 20px;
}
#container #first {
    right: 120px;
    transform: rotate(1deg);
}
#container #second img {
    order: -1;
}
#container #second {
    left: 150px;
    transform: rotate(-3deg);
}
#container #third {
    transform: rotate(4deg);
}
