:root {
    --easein-pause-easeout: cubic-bezier(.57, .81, .39, .17);
    --primary-color: #09543D;
    --primary-logo-text: #F6C42B;
    --secondary-color: #FFA9E9;
    --primary-text-color: #d7e8e2;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: Helvetica-Neue-Black, sans-serif;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes landing-section {
    to {
        margin: min(2vw, 50px);
        border-radius: 30px;
        background-color: var(--primary-color);
    }
}

@keyframes landing-header {
    from {
        top: -90;
    }

    to {
        top: 2vw;
    }
}

@media screen and (max-width:500px) {
    #menu-button {
        display: block;
    }

    @keyframes menu-button {
        to {
            top: 30px;
        }
    }
}

main {
    overflow: hidden;
}

header {
    position: fixed;
    width: 85%;
    left: 2vw;
    display: flex;
    justify-content: space-between;
    animation: landing-header 0.5s ease-in-out 0.3s forwards;
    z-index: 99;
    background-color: var(--primary-color);
    top: 0.6vw;
    height: 65px;
    border-radius: 50px;
    padding: 0 min(50px, 5vw);
}

header button {
    border: none;
    margin: 9px 0;
    width: 50px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

header button:hover {
    color: var(--secondary-color);
    transition: 0.2s;
    scale: 1.05;
}


#first-section {

    background-color: var(--primary-color);
    animation: landing-section 0.5s ease-in-out 0.3s 1 forwards;
    height: 86dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

#menu-button {
    position: absolute;
    top: -99px;
    font-size: 15px;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    animation: menu-button 0.8s ease-in-out forwards;
    box-shadow: 0 0 9px 1px gray;
}

#menu-button:hover {
    box-shadow: 0 0 6px 3px rgb(106, 106, 106);
    transition: 0.15s;
}

#get-started p {
    font-size: min(7vw, 500px);
    font-weight: 1000;
    text-align: center;
    color: var(--primary-text-color);
}

@keyframes background-score {
    from {
        width: 0%;
    }

    to {
        width: 50px;
    }
}

#get-started span {
    position: relative;
    anchor-name: --span;
    width: 50px;
}

#get-started #confidence-background {
    position: relative;
    position-anchor: --span;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 1;
    height: 3.8em;
    width: 0;
    animation: background-score 0.6s ease-in 0.8s forwards;
}

#first-section #tag-line {
    font-weight: 900;
    font-size: min(4vw, 50px);
    text-align: center;
    color: var(--primary-text-color);
}

#first-section #tag-line span {
    color: var(--primary-logo-text);
    display: block;
    font-size: 1.2em
}

#inital-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-color);
    z-index: 99;
}

#initial-overlay p {
    position: absolute;
    font-size: 7vw;
    font-weight: 600;
    z-index: inherit;
}

.text {
    color: var(--primary-text-color);
    font-size: 1.9vw;
    text-align: center;
    width: 90%;
}