:root {
    --easein-pause-easeout: cubic-bezier(.57, .81, .39, .17);
    --primary-color: #09543D;
    --secondary-color: #FFA9E9;
    --primary-text-color: #d7e8e2;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: Helvetica-Neue-Black, sans-serif;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes landing-section {
    to {
        margin: min(1vw, 50px);
        border-radius: 30px;
        background-color: var(--primary-color);
    }
}

@keyframes landing-header {
    from {
        top: -90;
    }

    to {
        top: 0;
    }
}

@media screen and (max-width:500px) {
    #menu-button {
        display: block;
    }

    @keyframes menu-button {
        to {
            top: 30px;
        }
    }
}

main {
    overflow: hidden;
}

body {
    position: relative;
}

header {
    position: fixed;
    width: 91%;
    top: 0;
    display: flex;
    justify-content: space-between;
    animation: landing-header 0.5s ease-in-out 0.3s forwards;
    z-index: 5;
    margin: min(1vw, 50px);
    background-color: var(--primary-color);
    top: 0.6vw;
    height: 65px;
    border-radius: 50px;
    padding: 0 min(50px, 5vw);
}

header button {
    border: none;
    margin: 9px 0;
    width: 50px;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

header button:hover {
    color: var(--secondary-color);
    font-weight: 900;
    transition: 0.2s;
}


#first-section {
    background-color: var(--primary-color);
    animation: landing-section 0.5s ease-in-out 0.3s 1 forwards;
    height: 97dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-button {
    position: absolute;
    top: -99px;
    font-size: 15px;
    border: 0;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    animation: menu-button 0.8s ease-in-out forwards;
    box-shadow: 0 0 9px 1px gray;
}

#menu-button:hover {
    box-shadow: 0 0 6px 3px rgb(106, 106, 106);
    transition: 0.15s;
}

#first-section p {
    position: relative;
    font-weight: 900;
    display: block;
    font-size: 20vw;
    text-align: center;
    color: var(--primary-text-color);
}

#first-section p span {
    font-family: hel;
    position: absolute;
    top: 0;
    right: 250px;
    top: 160px;
    color: #540909;
}

#inital-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-color);
    z-index: 99;
}

#initial-overlay p {
    position: absolute;
    font-size: 7vw;
    font-weight: 600;
    z-index: inherit;
}


